<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RSVP App</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../lib/photon-0.1-2.2-dist/css/photon.min.css">

  </head>
  <body>
  <div class="window">
    <div class="window-content" id="app">
    <form>
      <h3>Basic Info</h3>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Daniel" v-model="guest.name">
      </div>
      
      <div class="form-group">
        <label>Family Name</label>
        <input type="text" class="form-control" placeholder="Zehe" v-model="guest.surname">
      </div>
      
      <div class="form-group">
        <label>Dietary Restrictions</label>
        <input type="text" class="form-control" placeholder="no Pork" v-model="guest.dietaryRestrictions">
      </div>

      <div class="form-group">
        <label>Invited To:</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="SG" v-model="guest.invitedto"> Singapore Reception
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="SGS" v-model="guest.invitedto"> Singapore Solemnization
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="DE" v-model="guest.invitedto"> Germany
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Side of the Family/Friends</label>
        <div class="radio">
          <label>
            <input type="radio" name="radios" value="2" v-model="guest.familyside">
            Daniel
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="radios" value="1" v-model="guest.familyside">
            Xiu Fen
          </label>
        </div>
      </div>

      <h3>Contact Information</h3>

      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" placeholder="3 Chwee Chian Road" v-model="guest.contact.address.street_1">
      </div>
      <div class="form-group">
        <label>Additional Information</label>
        <input type="text" class="form-control" placeholder="#04-03" v-model="guest.contact.address.street_2">
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" placeholder="119745" v-model="guest.contact.address.postalcode">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" placeholder="Singapore" v-model="guest.contact.address.city">
      </div>
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" placeholder="Singapore" v-model="guest.contact.address.country">
      </div>

      <div class="form-group">
        <label>Email </label>
        <input type="email" class="form-control" placeholder="mail@daniel-zehe.de" v-model="guest.contact.email">
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" placeholder="+6591032480" v-model="guest.contact.phone">
      </div>
      <div class="form-actions">
                <button class="btn btn-form btn-default" v-on:click="reset">Cancel</button>
        <button class="btn btn-form btn-primary" v-on:click="addGuest">OK</button>
      </div>
    </form>

    </div>

  </div>


    <script src="../js/addGuestWindow.js" charset="utf-8"></script>
  </body>
</html>