<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RSVP App</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../lib/photon-0.1-2.2-dist/css/photon.min.css">
    <style type="text/css">
      input[type="checkbox"]{
        display: none;
      }
      input[type="checkbox"] + span  {
          /*display:inline-block;*/
          font-size: 20pt;
      }
      input[type="checkbox"]:checked + span  {
        /*display:inline-block;*/
        font-size: 30pt;
    }
    </style>
  </head>
  <body>
  <div class="window" id="app" style="-webkit-app-region: drag">
    <div class="window-content"  >
      <form>
        <h3>Basic Info</h3>
        <div class="form-group">
          <label>Invitation Name</label>
          <input type="text" class="form-control" placeholder="Lim Family" v-model="invitation.invitationName">
        </div>


      <div class="form-group">
        <label>Languages:</label>
          <div style="display: flex;">
          <div class="checkbox" style="flex-grow: 1">
          <label>
              <input type="checkbox" value="de" v-model="invitation.lang">
              <span>🇩🇪</span>
            </label>
          </div>
          <div class="checkbox" style="flex-grow: 1">
            <label>
              <input type="checkbox" value="en" v-model="invitation.lang">
              <span>🇬🇧</span>
            </label>
          </div>
          <div class="checkbox" style="flex-grow: 1">
              <label>
              <input type="checkbox" value="cn" v-model="invitation.lang">
              <span>🇨🇳</span> 
            </label>
          </div>
        </div>
      </div>

        <h3>Guests</h3>
        <div >
        <table class="table-striped" @dragover.prevent @drop="drop">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="guest in invitation.guests">
            <td>{{guest.name}}</td>
            <td>{{guest.surname}}</td>
             <td><span class="icon icon-minus-squared" v-on:click="removeGuest(guest.personID)"></span></td>
          </tr>
        </tbody>
      </table>
        </div>
        <h3>Comments</h3>
        <div class="form-group">

          <textarea class="form-control" rows="3" v-model="invitation.comment"></textarea>
        </div>
        <div class="form-actions">
          <button class="btn btn-form btn-default" v-on:click="reset">Cancel</button>
          <button class="btn btn-form btn-primary" v-on:click="addInvitation">OK</button>
      </div>
      </form>

    </div>

  </div>


    <script src="../js/addInvitationWindow.js" charset="utf-8"></script>
  </body>
</html>