<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RSVP Guest List</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../lib/photon-0.1-2.2-dist/css/photon.min.css">
	<link rel="stylesheet" href="../css/GuestListWindow.css">


  </head>
  <body>
  	<div class="window" id="app">
		<div class="dont-scroll" >

<!-- 		  <div style="display: flex;border-bottom: 2px solid black">
		  	<div style="flex:1 ">Name</div>
	    	<div style="flex:1 ">Family Name</div>
	      	<div style="flex:1 ">🇸🇬 🎉</div>
	      	<div style="flex:1 ">🇸🇬 💒</div>
	      	<div style="flex:1 ">🇩🇪 🎉</div>
	      </div>
	      <div style="display: flex" v-for="guest in guests">
		  	<div style="flex:1;">{{guest.name}}</div>
	    	<div style="flex:1;border-left: 1px solid black ">{{guest.surname}}</div>
	      	<div style="flex:1;border-left: 1px solid black ">{{getAttendanceStatusforGuestatEvent(guest.personID,'SG')}}</div>
	      	<div style="flex:1;border-left: 1px solid black ">{{getAttendanceStatusforGuestatEvent(guest.personID,'SGS')}}</div>
	      	<div style="flex:1;border-left: 1px solid black ">{{getAttendanceStatusforGuestatEvent(guest.personID,'DE')}}</div>
	      </div>
 -->


 			<div style="display: flex;border-bottom: 2px solid black">
 				<div style="flex:1">Invitation Name</div>
			  	<div style="flex:1 ">Name</div>
		    	<div style="flex:1 ">Family Name</div>
		      	<div style="flex:1 ">Singapore Reception</div>
		      	<div style="flex:1 ">Singapore Solemnization</div>
		      	<div style="flex:1 ">German Reception</div>
	      	</div>
	      	<div style="display:flex;border-bottom: 1px solid black;margin-bottom: 5px" v-for="invitation in invitations">
	      		<div style="flex:1">{{invitation.invitationName}}</div>
	      		<div style="flex:5;display: flex;flex-direction: column">
	      			<div style="flex:1;display: flex;flex-direction: row; border-bottom: 1px solid grey" v-for="guest in invitation.guests">
	      				<div style="flex:1">{{getGuest(guest).name}}</div>

	      				<div style="flex:1">{{getGuest(guest).surname}}</div>
	      				<div style="flex:1;text-align: center; border-left: 1px solid black ">{{getAttendanceStatusforGuestatEvent(guest,'SG')}}</div>
	      	<div style="flex:1;text-align: center; border-left: 1px solid black ">{{getAttendanceStatusforGuestatEvent(guest,'SGS')}}</div>
	      	<div style="flex:1;text-align: center; border-left: 1px solid black ">{{getAttendanceStatusforGuestatEvent(guest,'DE')}}</div>
	      			</div>
	      		</div>
	      	</div>

	  	</div>
		<footer class="toolbar toolbar-footer no-print" style="flex: none">
			<div class="toolbar-actions">
				<button class="btn btn-mini btn-default" v-on:click="print">print</button>
			</div>
		</footer>
    </div>
  <script src="../js/invitationListWindow.js" charset="utf-8"></script>
  </body>
</html>