<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RSVP App</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../lib/photon-0.1-2.2-dist/css/photon.min.css">
    <script type="text/javascript" href="../lib/qrcode.js"></script>

  </head>
  <body>
  <script type="text/x-template" id="guest-detail-view-template">
  <div style="flex:1 ">
    <div style="display: flex;">
      <h1 style="flex:1">{{guest.name}} {{guest.surname}}</h1>
      <img style="flex: none" :src="getQRdata()" width="150" height="150" />
    </div>
    <div style="display: flex;">
      <div style="flex-grow: 0;min-width: 30%">
        <h3>Address</h3>
        {{guest.contact.address.street_1}}<br/>
        {{guest.contact.address.street_2}}<br/>

        <span>{{guest.contact.address.city}} {{guest.contact.address.postalcode}}</span><br/>
        {{guest.contact.address.country}}
      </div>
      <div style="flex-grow: 1;min-width: 30%">
        <h3>Contact</h3>
        Phone: {{guest.contact.phone}}<br/>
        Email: {{guest.contact.email}}
      </div>
      <div style="flex-grow: 0;min-width: 30%">
        <h3>Status</h3>
        <span v-for="invitedto in getFlags()">{{invitedto}}</span>
      </div>
    </div>
  </div>
  </script>

  <script type="text/x-template" id="invitation-detail-view-template">
    <div style="flex:1 ">
      <div style="display: flex;">
        <h1 style="flex:1">{{invitation.invitationName}}</h1>
        
      </div>
      <guest-detail-view style="border-bottom: 1px solid black" v-for="guest in usedguests" v-bind:guest="guest"></guest-detail-view>
    </div>
  </script>

  <div class="window" id="app">
  <header class="toolbar toolbar-header" style="-webkit-app-region: drag">
  <h1 class="title">RSVP App</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button><span class="icon icon-users"></span>{{invitations.length}} Invitations</button>
        <button><span class="icon icon-user"></span>{{numberofnonEaters}} Guests</button>

        <button v-on:click="addGuest"><span class="icon icon-plus" ></span> Guest</button>
        <button v-on:click="addInvitation"><span class="icon icon-plus" ></span> Invitation</button>

      </div>
      <input class="pull-right" type="text" placeholder="Search" v-model="searchText">      
    </div>
  </header>
  
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar" style="overflow-y: scroll;">
        <ul class="list-group">
        <li class="list-group-header">
          <STRONG>Guests</STRONG>
        </li>
        <guest-list-item v-for="guest in filteredGuestData " v-bind:isactive="isGuestActive(guest.personID)" v-bind:guest="guest" v-on:clicking="selectedGuest"></guest-list-item>
      </ul>
      </div>
      <div class="pane-sm sidebar" style="overflow-y: scroll;">
        <ul class="list-group">
        <li class="list-group-header">
          <STRONG>Invitations</STRONG>
        </li>
        <invitation-list-item v-for="invitation in filteredInvitationData " v-bind:invitation="invitation" v-on:clicking="selectedInvitation"></invitation-list-item>
      </ul>
      </div>
      <div class="pane" style="display: flex;min-height: 100%;flex-direction: column;">
        <guest-detail-view  v-bind:guest="currentGuest" v-if="currentSelectedGuestID!=''">
        </guest-detail-view >

        <invitation-detail-view v-bind:invitation="currentInvitation" v-bind:usedguests="guestsinInvitation" v-if="currentSelectedInvitationID!=''"></invitation-detail-view>

        <footer class="toolbar toolbar-footer" style="flex: none" >
          <div class="toolbar-actions">
            <button class="btn btn-default" v-on:click="editGuest(currentGuest.personID)" v-if="currentSelectedGuestID!=''">
              Edit
            </button>
              <button class="btn btn-default" v-on:click="editInvitation(currentInvitation.inviteID)" v-if="currentSelectedInvitationID!=''">
              Edit
            </button>
          </div>
        </footer>
     </div>
    </div>
  </div>
</div>



    <script src="../js/mainview.js" charset="utf-8"></script>
  </body>
</html>